.movies_container {
  margin-top: 40px;
}

.movies_list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.movies_listItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.movies_listItemImageContainer {
  width: 192px;
  height: 282px;
  border-radius: 0.5em;
  overflow: hidden;
}

.movies_listItemImage {
  width: 100%;
  height: 100%;
  transition: transform 500ms;
}

.movies_listItemImage:hover {
  transform: scale(1.2);
}

.movies_listItemTitle {
  margin-top: 12px;
  color: var(--text-color);
  font-size: 16px;
}
