* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

:root {
  --primary-color: rgb(0 153 255);
  --title-text-color: white;
  --background-color: rgb(51, 51, 51);
  --text-color: #ccc;

  /* Sizes */
  --header-height: calc(
    var(--header-brand-height) + var(--header-strip-height)
  );
  --header-brand-height: 64px;
  --header-strip-height: 56px;

  /* Z Indexes */
  --header-z-index: 1000;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  height: 100%;
}

.header_container {
  position: fixed;
  width: 100%;
  z-index: var(--header-z-index);
}

.header_brand {
  height: var(--header-brand-height);
  background-image: linear-gradient(
    to right,
    rgb(50, 85, 226),
    rgb(32, 35, 128)
  );
  display: flex;
  align-items: center;
  padding-left: 64px;
  color: var(--title-text-color);
}

.header_brandLink {
  cursor: pointer;
}

.header_strip {
  background-color: rgb(32, 35, 128);
  height: var(--header-strip-height);
}

.main_container {
  padding-top: var(--header-height);
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  justify-content: center;
}

.main_content {
  max-width: 1420px;
  width: 100%;
}

.main_title {
  margin-top: 30px;
  font-size: 30px;
  color: var(--title-text-color);
}
